.navbar {
  position: fixed;

  left: 7px;
  right: 7px;
  bottom: 7px;

  height: 60px;

  display: flex;
  align-items: center;

  padding: 0 6px;

  background: rgba(15, 15, 15, 0.9);

  backdrop-filter: blur(20px);

  border: 1px solid rgba(18, 207, 228, 0.08);

  border-radius: 10px;

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.5),
    0 0 20px rgba(18, 207, 228, 0.05);

  z-index: 1000;
}

.navbar-item {
  flex: 1;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  border: none;

  background: transparent;

  color: #7a7a7a;

  border-radius: 10px;

  cursor: pointer;

  transition: all 0.25s ease;

  padding: 3px 0;
}

.navbar-item:hover {
  color: var(--color-blue);
}

.navbar-item-active {

  color: var(--color-blue);

  background: rgba(18, 207, 228, 0.12);

  box-shadow:
    inset 0 0 1px rgba(255,255,255,.1),
    0 0 15px rgba(18, 207, 228, 0.15);
}

.navbar-item-active .navbar-icon {

  filter:
    drop-shadow(0 0 5px rgba(18, 207, 228, 0.15))
    drop-shadow(0 0 12px rgba(18, 207, 228, 0.087));
}

.navbar-item-active .navbar-label {

  color: var(--color-blue);

  text-shadow:
    0 0 8px rgba(18, 207, 228, 0.5);
}

.navbar-icon {
  font-size: 22px;

  transition: all 0.25s ease;
}

.navbar-custom-icon {
  width: 1em;
  height: 1.2em;

  filter: brightness(0) invert(1);
}

.navbar-label {
  font-size: 11px;

  font-weight: 600;

  transition: all 0.25s ease;
}