<nav class="navbar">
  <button class="navbar-item" (click)="irA('/inicio')">
    <span class="navbar-icon">🏠</span>
    <span class="navbar-label">Inicio</span>
  </button>

  <button class="navbar-item">
    <span class="navbar-icon">💰</span>
    <span class="navbar-label">Compras</span>
  </button>

  <button class="navbar-item" (click)="irA('/programa')">
    <span class="navbar-icon">📅</span>
    <span class="navbar-label">Programa</span>
  </button>

  <button class="navbar-item">
    <span class="navbar-icon">✅</span>
    <span class="navbar-label">Pendientes</span>
  </button>

  <button class="navbar-item">
    <span class="navbar-icon">👀</span>
    <span class="navbar-label">Cotilleos</span>
  </button>
</nav>
